<app-header></app-header>
<div [hidden]="!flag">
    <div class="container">

        <div class="text-right">
            <div class="btn btn-primary mt-2" (click)="createapikey()">Create New ApiKey
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <mat-label class="">Select Tenant<em>&nbsp;</em></mat-label>
                <mat-select class="inputMaterial dropdown" [(ngModel)]="selectterrent" (ngModelChange)="givedata()">

                    <mat-option *ngFor="let selectvalue of selectedvalues" [value]="selectvalue" name="name">{{selectvalue}}</mat-option>
                </mat-select>
            </div>
            <!-- Datatable starts here -->
            <div class="col-md-6 offset-3 mr-auto">
                <mat-form-field>
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>
            </div>
        </div>
        <br>
        <hr>

        <div class="row">
            <table align="center" mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
                <!-- ID Column -->
                <ng-container matColumnDef="sl">
                    <th mat-header-cell *matHeaderCellDef> Sl # </th>
                    <td mat-cell *matCellDef="let test; let i= index;"> {{i+1}} </td>
                </ng-container>

                <ng-container matColumnDef="tenantid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Tenant Id </th>
                    <td mat-cell *matCellDef="let test"> {{test.tenantid}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                    <td mat-cell *matCellDef="let test"> {{test.email}} </td>
                </ng-container>

                <ng-container matColumnDef="service">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Service Id </th>
                    <td mat-cell *matCellDef="let test"> {{test.serviceid}} </td>
                </ng-container>

                <ng-container matColumnDef="edit">
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let test; let i=index;" (click)="deactivate(i)"> <i class="text-danger ">Deactivate</i> </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns "></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="5 ">No data matching the filter "{{input.value}} "</td>
                </tr>

            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="col-md-12"></mat-paginator>
        </div>
    </div>
</div>





<div *ngIf="!flag ">
    <div *ngIf="!createapi">
        <div class="row ">
            <div class="col-md-6 offset-3 ">


                <div class="col-md-12 ">
                    <form [formGroup]="generateapikey">
                        <h1>Generate New API Key</h1>
                        <br>
                        <div class="example-conatiner ">


                            <mat-form-field>
                                <input matInput placeholder="Tenant Id " formControlName="tenantid">
                                <mat-error *ngIf="tenantid.errors?.required&&(tenantid.dirty||tenantid.touched) ">Please Provide the tenant Id</mat-error>
                            </mat-form-field>

                            <br>

                            <mat-form-field class="full-width-input ">
                                <input matInput placeholder="Email " formControlName="email" required>
                                <mat-error *ngIf="email.errors?.required&&email.touched ">Please provide the email</mat-error>
                            </mat-form-field>

                            <br>
                            <mat-form-field>
                                <mat-label>Service Id</mat-label>
                                <mat-select formControlName="serviceid">
                                    <mat-option [value]=""> </mat-option>

                                </mat-select>
                                <mat-error *ngIf="serviceid.errors?.required&&serviceid.touched ">Please provide the service Id</mat-error>
                            </mat-form-field>

                            <hr>


                            <div class="col-md-12 row offset-md-6">
                                <div class="col-md-2 ">
                                    <div class="form-group text-center search-border ">
                                        <button type="button " class="btn btn-danger " (click)="reset()">Reset</button>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="form-group text-center search-border ">
                                        <button type="button " class="btn btn-secondary " [disabled]="generateapikey.invalid" (click)="submit()">Create</button>
                                    </div>
                                </div>
                                <div class="col-md-2 ">
                                    <div class="form-group text-center search-border ">
                                        <button type="button " class="btn other-button" (click)="back()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>