    .navbar {
        background-color: blueviolet;
        color: white
    }
    
    .btn:hover {
        background-color: palegoldenrod;
        color: white;
    }
    
    .btn:active {
        background-color: orange;
    }
    
    .btn {
        color: #d6d6d6;
    }
    
    body {
        overflow-x: hidden;
    }