<div class="row">
    <div class="col-md-12">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="loginform">
                    <h2>Log In</h2>
                    <div class="form-group">

                        <mat-form-field class="full-width-input">
                            <input class="email" matInput placeholder="Email" class="email" formControlName="username">
                            <mat-error *ngIf="username.errors?.required&&username.touched">
                                Please Provide a Email
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">

                        <mat-form-field class="full-width-input">
                            <input matInput type="password" class="password" placeholder="Password" formControlName="password">
                            <mat-error *ngIf="password.errors?.required&&password.touched">
                                Please provide a password
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <button class="btn btn-primary btn-lg" routerLink="login" [disabled]="loginform.invalid" (click)="confirmcredentials()">Login</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>